<div class="group">
  <div class="group__title">
    <h2>{{ todoGroup.title }}</h2>
    <div class="group__title-underline"></div>
  </div>

  <div class="group__items">
    <ng-container *ngFor="let item of todoGroup.items; let i = index">
      <ng-container [ngSwitch]="item.status">
        <app-item-not-started
          [todoItem]="item"
          [index]="i"
          *ngSwitchCase="'not_started'"
        ></app-item-not-started>
        <app-item-in-progress
          [todoItem]="item"
          [index]="i"
          *ngSwitchCase="'in_progress'"
        ></app-item-in-progress>
        <app-item-done [todoItem]="item" [index]="i" *ngSwitchCase="'done'"></app-item-done>
      </ng-container>
    </ng-container>
  </div>
</div>
