<div class="item">
  <div class="item__header">
    <img src="../../../../assets/icons/in_progress.svg" alt="done" class="item__img" />
    <span class="item__title">{{ todoItem.title }}</span>
    <button
      [disabled]="todoItem.description === ''"
      class="item__arrow"
      (click)="isShowDescription = !isShowDescription"
    >
      @if (isShowDescription) {&#9650;} @else {&#9660;}
    </button>
  </div>

  @if (isShowDescription) {
  <div class="item__description">
    <div class="item__description">
      <textarea class="textarea" [(ngModel)]="description" rows="3"></textarea>
    </div>

    <div>
      <button class="button" (click)="emitChangeStatus(todoStatus.DONE)">Done</button>
      <button class="button">Delete</button>
    </div>
  </div>
  }
</div>
