<div class="group">
  <div class="group__title">
    <div class="group__title-name">
      @if (isShowTitle) {
      <h2>{{ todoGroup.title }}</h2>
      <button class="group__btn-edit button" (click)="isShowTitle = false">Edit</button>
      <button class="group__btn-del button" (click)="removeGroup()">Delete</button>
      } @else {
      <input
        type="text"
        class="input"
        [(ngModel)]="groupTitle"
        (blur)="enterValue()"
        (keyup.enter)="enterValue()"
        placeholder="Enter Title of Group"
      />
      }
    </div>

    <div class="group__title-underline"></div>
  </div>

  <div class="group__items">
    <!-- 2 ways using For -->

    <!-- <ng-container *ngFor="let item of todoGroup.items; let i = index">
      <ng-container [ngSwitch]="item.status">
        <app-item-not-started
          [todoItem]="item"
          [index]="i"
          *ngSwitchCase="'not_started'"
        ></app-item-not-started>
        <app-item-in-progress
          [todoItem]="item"
          [index]="i"
          *ngSwitchCase="'in_progress'"
        ></app-item-in-progress>
        <app-item-done [todoItem]="item" [index]="i" *ngSwitchCase="'done'"></app-item-done>
      </ng-container>
    </ng-container> -->
    @for (item of todoGroup.items; track item.title; let i = $index) {
    <ng-container [ngSwitch]="item.status">
      <app-item-not-started
        (eventChangeDescription)="handleChangeItemDescription($event)"
        (changeStatus)="handleChangeStatus($event)"
        [todoItem]="item"
        [index]="i"
        *ngSwitchCase="'not_started'"
      ></app-item-not-started>
      <app-item-in-progress
        (eventChangeDescription)="handleChangeItemDescription($event)"
        (changeStatus)="handleChangeStatus($event)"
        [todoItem]="item"
        [index]="i"
        *ngSwitchCase="'in_progress'"
      ></app-item-in-progress>
      <app-item-done
        (eventChangeDescription)="handleChangeItemDescription($event)"
        (changeStatus)="handleChangeStatus($event)"
        [todoItem]="item"
        [index]="i"
        *ngSwitchCase="'done'"
      ></app-item-done>
    </ng-container>
    }

    <input
      type="text"
      class="input"
      placeholder="Enter ToDo Title"
      #newToDo
      (keyup.enter)="addToDo(newToDo.value); newToDo.value = ''"
    />
  </div>
</div>
